
.hero {

}

.cover-decoration-bottom {

    background: url('/assets/images/graphicsEnd.png') repeat-x;
    width: 100%;
    position: relative;
    top: -150px;
    height: 226px;
    grid-area: cover;
}

.cover-decoration-bottom img {
    max-width: 100%;
}

.header {
}

header.header {
}

header.top-bar button.mobile-nav-btn {
}

header.header .nav-menu {
}

.hero {
    display: grid;
    grid-template-areas:
                "photo about"
                "cover cover";
    grid-template-columns: 210px auto;
    grid-template-rows: auto 76px;
}

.hero .hello {
    font-size: x-large;
    color: white;
}

.hero .left {
    grid-area: photo;
}

.hero .right {
    grid-area: about;
}

.cover .caption h1 {
    /*font-size: 5vh;*/
}

.controls-episode li.control-ep {
    margin: 0 5px;
}

footer.footer .copyrights {
    line-height: 1.6em;
}


.contact-area {
    margin-bottom: 50px;
}

#contact-section .heading-contact {
    margin-left: 0;
}

